rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }
    function myUid() {
      return request.auth.uid;
    }

    match /users/{uid} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn() && uid == myUid();
      allow delete: if isSignedIn();

      match /{sub=**} {
        allow read, write: if isSignedIn();
      }
    }

    match /invites/{emailLower} {
      allow read, write: if isSignedIn();
    }

    match /chats/{chatId} {
      allow read, write: if isSignedIn() && chatId.split('_')[0] == myUid();
      allow read, write: if isSignedIn() && chatId.split('_')[1] == myUid();

      match /messages/{msgId} {
        allow read, write: if isSignedIn()
          && (chatId.split('_')[0] == myUid() || chatId.split('_')[1] == myUid());
      }
    }
  }
}